<?xml version="1.0"?>
<robot name="road" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find road_description)/urdf/ceiling/ceiling_macro.xacro" />

  <link name="$(arg parent)"/>

  <xacro:ceiling name="$(arg name)" parent="$(arg parent)">
    <origin xyz="0 0 2.0" rpy="0 0 0"/>
  </xacro:ceiling>

</robot>