<!-- -->
<launch>

  <arg name="platform"               default="False" />
  <arg name="pad"                    default="False" />

  <include file="$(find car_description)/machines/$(optenv ROBOT car)_$(optenv ROS_MODE sim).machines" />

  <group ns="$(optenv ROBOT car)">

    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find car_description)/urdf/car_with_sensors.xacro'" />

    <node pkg ="robot_state_publisher"
          type="state_publisher"
          name="robot_state_publisher"
          machine="control">
      <param name="tf_prefix" value="$(optenv ROBOT car)" type="str" />
    </node>

    <group if="$(arg platform)">

      <node pkg="car_motor_control"
            type="car_motor_control"
            name="car_motor_control"
            output="screen"
            machine="control">
        <param name="steering_dev" value="/dev/ttyS0"/>
        <param name="traction_dev" value="/dev/ttyS1"/>
        <param name="encoder_zero" value="7754"/>
        <param name="max_traction_accel" value="0.3"/>
        <param name="max_traction_decel" value="0.3"/>
        <param name="max_traction_speed" value="1.0"/>
        <param name="max_steering_angle" value="0.4"/>
        <param name="min_steering_angle" value="-0.4"/>
        <param name="max_steering_speed" value="0.25"/>
        <param name="max_steering_accel" value="0.02"/>
        <param name="traction_p" value="0.5"/>
        <param name="traction_i" value="4.0"/>
        <param name="traction_d" value="2.5"/>
        <param name="steering_p" value="10.0"/>
        <param name="steering_i" value="20.0"/>
        <param name="steering_d" value="10.0"/>
        <param name="traction_max_amps" value="100"/>
        <param name="motor_brake_delay" value="1"/>
        <param name="cmd_vel_timeout" value="1"/>

        <remap from="/$(optenv ROBOT car)/car_motor_control/encoders"
                 to="/$(optenv ROBOT car)/car_io/encoders"/>
        <remap from="/$(optenv ROBOT car)/car_motor_control/input_output"
                 to="/$(optenv ROBOT car)/car_io/input_output"/>
        <remap from="/$(optenv ROBOT car)/car_motor_control/control_outputs"
                 to="/$(optenv ROBOT car)/car_io/set_digital_output"/>
        <remap from="/$(optenv ROBOT car)/car_motor_control/apply_brake"
                 to="/$(optenv ROBOT car)/car_brake/brake_ratio"/>
      </node>

      <node pkg="car_io"
            type="car_io"
            name="car_io"
            output="screen"
            machine="control">
        <param name="ip_address" value="172.20.12.200"/>
      </node>

      <node pkg="car_brake"
            type="car_brake"
            name="car_brake"
            output="screen"
            machine="control">
        <param name="brake_dev" value="/dev/ttyUSB0"/>
      </node>

      <node pkg="car_odometry"
            type="car_odometry"
            name="car_odometry"
            output="screen"
            machine="control">
        <param name="wheel_diameter" value="0.436"/><!--"0.4572"/>-->
        <param name="axel_distance" value="1.65"/>
        <param name="tf_prefix" value="/$(optenv ROBOT car)"/>
        <param name="publish_tf" value="True"/>
        <remap from="/$(optenv ROBOT car)/car_odometry/encoders"
                 to="/$(optenv ROBOT car)/car_io/encoders"/>
      </node>

    </group>

    <group if="$(arg pad)">

      <node respawn="true" 
            pkg="joy" 
            type="joy_node" 
            name="joy" 
            machine="control">
        <param name="dev" type="string" value="/dev/input/ps3joy" />
        <param name="deadzone" value="0.12" />
      </node>

      <node pkg="car_teleop"
            type="car_teleop"
            name="car_teleop"
            output="screen"
            machine="control">
        <remap from="/$(optenv ROBOT car)/car_teleop/apply_brake"
                 to="/$(optenv ROBOT car)/car_brake/brake_ratio"/>
        <remap from="/$(optenv ROBOT car)/car_teleop/cmd_vel"
                 to="/$(optenv ROBOT car)/car_motor_control/cmd_vel"/>
        <remap from="/$(optenv ROBOT car)/car_teleop/joy"
                 to="/$(optenv ROBOT car)/joy"/>
        <param name="max_speed" value="1.0"/>
        <param name="max_steer_angle" value="0.35"/>
      </node>

    </group>

  </group>

</launch>
