<!-- -->
<launch>
  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find seat_car_description)/urdf/car.xacro'" />

  <node pkg="robot_state_publisher" type="state_publisher" name="car_tf_broadcaster">
    <param name="tf_prefix" type="string" value="/$(optenv ROBOT seat_car)"/>
    <param name="publish_frequency" type="double" value="50.0"/>
    <remap from="/joint_states" to="/$(optenv ROBOT seat_car)/joint_states" />
  </node>>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <remap from="/joint_states" to="/$(optenv ROBOT seat_car)/joint_states" />
  </node>

  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find seat_car_description)/config/seat_car.rviz" />

</launch>
