<!-- -->
<launch>

  <arg name="image" default="camera/rgb/image_raw"/>

  <param name="camera_name" type="string" value="$(arg image)"/>  
  <param name="cam_w" type="int"    value="640"/>  
  <param name="cam_h" type="int"    value="480"/>
  <param name="f_u"   type="double" value="448.2363956962108"/>
  <param name="f_v"   type="double" value="448.2363956962108"/>
  <param name="c_u"   type="double" value="320.5"/>
  <param name="c_v"   type="double" value="240.5"/>
  <param name="deg"   type="double" value="0"/> <!-- 27, 3 -->
  <param name="cam_height" type="double" value="14.65"/>
  
  <node name="ip_mapper"
        pkg ="ip_mapping"
        type="ip_mapper_node"
        output="screen">

  </node>

</launch>