<?xml version="1.0"?>

<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Included URDF Files -->
  <xacro:include filename="$(find car_description)/urdf/car.xacro" />
  <xacro:include filename="$(find car_description)/urdf/car_sensors.xacro" />
  <xacro:include filename="$(find car_description)/urdf/velodyne.xacro" />

  <!-- Velodyne Link -->
  <xacro:velodyne name="velodyne" parent="base_link">
    <origin xyz="0.165 0 1.80" rpy="0 0 -1.8773"/>
  </xacro:velodyne>

</robot>
