<!-- -->
<launch>

  <arg name="circuit" default="final"/> <!-- final, test -->

  <include file="$(find road_description)/launch/spawn_road.launch">
    <arg name="circuit" value="$(arg circuit)"/>
  </include>

  <include file="$(find road_description)/launch/spawn_ceiling.launch">
    <arg name="circuit" value="$(arg circuit)"/>
  </include>

  <include file="$(find road_description)/launch/spawn_trafficlights.launch">
    <arg name="circuit" value="$(arg circuit)"/>
  </include>
  
  <include file="$(find road_description)/launch/spawn_obstacles_$(arg circuit).launch">
  </include>

</launch>  